<h1>Contact Form</h1>
<form action="/contact" method="POST">

  <label for="POST-first">First Name:</label>
  <input id="POST-first" type="text" name="first">

  <label for="POST-last">Last Name:</label>
  <input id="POST-last" type="text" name="last">

  <br/>

  <label for="POST-email">Email:</label>
  <input id="POST-email" type="email" name="email">

  <br/>

  <label for="POST-address1">Address 1:</label>
  <input id="POST-address1" type="text" name="address1">

  <br/>

  <label for="POST-address2">Address 2:</label>
  <input id="POST-address2" type="text" name="address2">

  <br/>

  <label for="POST-city">City:</label>
  <input id="POST-city" type="text" name="city">

  <label for="POST-state">State:</label>
  <input id="POST-state" type="text" name="state">

  <label for="POST-zip">Zip:</label>
  <input id="POST-zip" type="text" name="zip">

  <br/>

  <label for="POST-phone">Phone Number:</label>
  <input id="POST-phone" type="text" name="phone">

  <br/>

  <button type="submit" value="Sign Me Up!">Sign Me Up!</button>
</form>