<h1>Form Party</h1>
<ul>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/newsletter">Newsletter</a></li>
  <li><a href="/order">Order</a></li>
  <li><a href="/rsvp">RSVP</a></li>
  <li><a href="/search">Search</a></li>
  <li><a href="/survey">Survey</a></li>
  <li><a href="/tweet">Tweet</a></li>
</ul>