<h1>Tweet Form</h1>
<form action="/tweet" method="POST">

  <label for="POST-username">Username:</label>
  <input id="POST-username" type="text" name="username">

  <label for="POST-password">Password:</label>
  <input id="POST-password" type="password" name="password">

  <br/>

  <label for="POST-tweet">Tweet:</label>
  <input id="POST-tweet" type="text" name="tweet">

  <button type="submit" value="Sign Me Up!">Tweet</button>
</form>
